<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Imaging Processing for Study</title>

    <link rel="stylesheet" type="text/css" href="{% static './css/main.css' %}" />
    <script src="{% static './js/resize.js' %}"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="page">
        <header>
            <h2>
                Medical Imaging <br>
                Processing for Study
            </h2>
            <nav>
                <ul>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Donate</a></li>
                </ul>
            </nav>
        </header>
        <form id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/> -->
            <input type="file" id="dicomInput" accept=".dcm" onchange="show_img()">
        </form>
        <div class="pre_dicom">
            <img id="img" src="">
        </div>
    </div>
</body>
<script>
    function show_img(){
        const dicomInput = $("#dicomInput")[0];
        // console.log("dicomInput: ", dicomInput.files)

        if(dicomInput.files.length === 0){
            alert("Please select a file");
            return;
        }

        const formData = new FormData();
        formData.append("dicom_file", dicomInput.files[0]);

        // for (var key of formData.keys()) {
        //     console.log(key);
        // }
        // for (var value of formData.values()) {
        //     console.log(value);
        // }

        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type:"POST",
            url: "show_img",
            processData: false,
            contentType: false,
            data: formData,
            success: function(rtn){
                console.log("data:image/png;base64,"+"aaa")
                document.getElementById('img').src = "data:image/png;base64,"+rtn["dicom_image"];
                $('#img').load(location.href + '#img')
            },
            err: function(err){
                console.log("err:", err)
            }
        })

        resize()
    }
</script>

</html>